@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@200;300;400;600&display=swap');
/* *{
    border: 1px solid red;
} */




body {
    margin: 0 60px;
    background-color: #FDF9F9;
    overflow-x: hidden;
    font-family: "Inter",'Dm Serif Display' ;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/***************************************** HEADER *************************************************************/
header{
    display: flex;
    position:absolute;    
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.link{
    text-align: center;
    margin: 0px 20px;
}

.link_nav{
    
    color: #FDF9F9;
    text-decoration: none;
}


/* ************************************* BODY ****************************************************************** */


